body {
    font-family: Arial, Helvetica, sans-serif;
    color:dimgray;
    margin: 0;
    padding:0;
    overflow:hidden;
}

.table, .namequestion {
    display:none;
}

.nameinput {
    margin:5px;
    width: 120px;
}

.playerscontainer {
    width:450px;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:15em;
    margin-top: -11em; /*set to a negative number 1/2 of your height*/
    margin-left: -18em; /*set to a negative number 1/2 of your width*/
    background:rgb(231, 231, 231);
    padding:50px;
    text-align: center;
    box-shadow: -1px 9px 18px 4px #888888;
}

.playerscontainer span{
    color:red;
}

.playerscontainer .inputquantity {
    width:100px;
    padding:5px;
    margin-bottom:25px;
    font-size:20px;
}

.submit {
    background:none;
    border:2px solid rgb(75, 129, 75);
    padding:5px;
    font-size:20px;
    transition: all 150ms;
}

.submit:hover {
    background:rgb(75, 129, 75);
    color:white;
}

.nameinput {
    width:100px;
    padding:5px;
    margin-bottom:25px;
    font-size:20px;
}

.container {
    width:600px;
    margin:0 auto;
    text-align: center;
    width: 90%;
}

.table {
    margin-top:20px;
    float: left;
    width: 100%;
}

.slice {
    float: left;
    text-align: center;
    border-right:3px solid gray;
    box-sizing: border-box;
    height:100%;
    padding-bottom:115px;
}

.slice:first-child {
    border-left:3px solid gray;
}

.name {
    font-size:30px;
    text-transform: capitalize;
    border-bottom:3px solid gray;
    padding-top:18px;
}

.finishline {
    height:3px;
    background:gray;
    display: none;
}

.endscore {
    display: none;
    font-size: 25px;
    text-align: center;
}

#roundbutton {
    display: none;
    margin-top: 20px;
}

.results {
    padding-top:20px;
}

.resultparts {
    font-size: 22px;
    line-height: 34px;
    width: 100%;
    color: #9c9c9c;
}

.resultparts:last-child {
    font-size: 32px;
    color: #545454;
}

.spinningone {
    position: relative;
    width:247px;
    height:380px;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: all cubic-bezier(0.25, 0, 0, 1) 3500ms;
}

/* .spinningone:hover {
    transform: rotateY(2200deg);
} */

.bottomlayer, .middlelayer, .toplayer {
    position: absolute;
}

.middlelayer {
    transform:  translateZ(2em);
}

.toplayer {
    transform: translateZ(4em);
}

.perspective {
    perspective:600px;
    margin:0 auto;
    width: 247px;
    height: 380px;
    position: absolute;
    bottom:-380px;
    left: 50%;
    margin-left: -123px;
    transition: all cubic-bezier(0.67, 0.01, 0.2, 0.99) 3500ms;
}